@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #243e63;
}

@media (
    max-width: 1280px;)
    {
        .header__img--wrapper {
        display: flex;
        justify-content: flex-end;
        width: calc(100% - 41.667);
    }
}
section {
    padding: 0 32px;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.purple {
    color: #6415ff;
}
.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600px;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms ease;
    margin: 0 24px;
}

img {
    width: 100%;
}
a {
    display: inline;
    text-decoration: none;
}

p {
    line-height: 1.5;
}

.btn__menu {
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

button {
    cursor: pointer;
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4px;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600px;
    line-height: 1.5px;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

header {
    position: relative;
}

.container {
    padding: 96px 0;
}

header .row {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 30px;
}

.header__description--para {
    margin: 20px 0;
    font-size: 16px;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
    transition-behavior: normal;
    transition-duration: 300ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: border-color;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
    transition-behavior: normal;
    transition-duration: 300ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700px;
    letter-spacing: 0.6px;
}

.header__customers {
    margin-top: 16px;
    padding-right: 64px;
    opacity: 0.5;
}

.header__img--wrapper {
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 41.6667);
}

.header__img {
    width: 100%;
}

.header__blob {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.3;
    width: 256px;
    height: 256px;
    transform: matrix(1, 0, 0, 1, -163, 0);
}
/* FEATURES */

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700px;
    text-transform: upp;
}

.section__title {
    text-align: center;
}

.row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.section__title {
    font-size: 48px;
    font-weight: 900px;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.section__para {
    text-align: center;
    max-width: 576px;
    font-size: 18px;
    font-weight: 550;
    color: #7c8ba1;
    line-height: 1.625;
}

.features {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(50%);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

/* QUALITY */

.quality__description {
    max-width: 576px;
    margin-right: 64px;
}

.quality__description, .quality__img--wrapper {
    width: 50%;
}

.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms;
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.quality__img {
    z-index: 1;
}